// Colors
$text-color: #0f1111;
$back-color: #004d40;
$white-color: #fff;
$second-color: #1e4b50;
$btn-color: #00695c;
$hover-color: #094942;
$accent-color: #cac860;
$accent-text-color: #969436;
$section-color: #005f5610;
$dd: #ffffff00;

// Fonts
$main-text: 'Roboto, sans-serif';
